In [1]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import datetime as dt

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==7).all()

In [5]:
#  3. Convert the June temperatures to a list.
#print(june_results)

In [6]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_results_df = pd.DataFrame(june_results, columns=['date','June Temps'])
june_results_df.set_index(june_results_df['date'], inplace=True)
june_results_df = june_results_df.sort_index()
june_results_df.head()

                  date  June Temps
date
2010-07-01  2010-07-01        75.0
2010-07-01  2010-07-01        71.0
2010-07-01  2010-07-01        73.0
2010-07-01  2010-07-01        73.0
2010-07-01  2010-07-01        74.0

In [7]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_results_df.describe()

        June Temps
count  1711.000000
mean     76.082408
std       3.356532
min      61.000000
25%      74.000000
50%      76.000000
75%      78.000000
max      87.000000

## D2: Determine the Summary Statistics for December

In [20]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.

dec_results = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==12).all()

In [21]:
# 7. Convert the December temperatures to a list.
print(dec_results)

In [22]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_results = pd.DataFrame(dec_results, columns=['date','December Temps'])
dec_results.set_index(dec_results['date'], inplace=True)
dec_results = dec_results.sort_index()
dec_results.head()

                  date  December Temps
date
2010-12-01  2010-12-01            76.0
2010-12-01  2010-12-01            73.0
2010-12-01  2010-12-01            72.0
2010-12-01  2010-12-01            78.0
2010-12-01  2010-12-01            72.0

In [23]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_results.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000